<!-- <nav class="nav-bar">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/cp">Employee</a></li>
      <li><a href="/wallet">Wallet</a></li>
      <li><a href="/pc">Payroll Contract</a></li>
      <li><a href="/pb">Passbook</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/history"><button class="btn waves-effect waves-light" type="button">History</button></a></li>
    </ul>
  </div>
</nav> -->
<ul id="nav-mobile" class="sidenav sidenav-fixed">
    <li style="height: 15%;"><a class="subheader" style="color:#e91e63;"><h3>legalo</h3><p style="color: grey">Make Legal Contracts on blockchain</p></a></li>
    <br>
    <br>
    <li><a class="subheader"  style="color:black">
      <div class="preloader-wrapper big active currentLoggedInLoader">
      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div><h5 id="currentParticipant"></h5></a></li>
    <li><a class="subheader1a"  href="http://13.52.29.9:3000/auth/google" style="color:black" id="currentDesignation"></a></li>
    <li><a class="subheader"  style="color:black" id="accountBalanceNav"></a></li><br>
    

    <!-- All the Navigations links -->
    <li class="subheader1 typesPath"><a class="subheader1a" href="/types" > <i class="material-icons black-text text-darken-4">filter_none</i>Types of contract</a></li>
    <li class="subheader1 Path"><a class="subheader1a" href="/" > <i class="material-icons black-text text-darken-4">import_contacts</i>Your Contracts</a></li>
    <li class="subheader1 createPath"><a class="subheader1a" href="/create" ><i class="material-icons black-text text-darken-4">add</i>Make a contract</a></li>
    <li class="subheader1 historyPath"><a class="subheader1a" href="/history"> <i class="material-icons black-text text-darken-4">update</i>Blockchain History</a></li>
    <li class="subheader1 settingsPath"><a class="subheader1a" href="/settings"> <i class="material-icons black-text text-darken-4">settings</i>Settings</a></li>

    
    <li class="loader-li">
      <div class="preloader-wrapper small active loader">
      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </li>
</ul>

    

