{% extends 'layout.html' %}

{% block body %}



<div class="row valign-wrapper">
    <div class="col m12">
        <h4 class="headingViewContract left" style="color:#e91e63"><i class="medium material-icons left"></i>Legal
            Documents, Forms & Contracts</h4>
    </div>
</div>


<!-- Actual types -->
<ul class="collection card">

    <li class="collection-item headingTypes">
        <div class="card-content headingTypes">
            <span class="card-title contractTitleList white-text">Business Formation&nbsp
            </span>
            <p style="color: white">
                If you’re running a business, you will require legal documents. Find any business legal form you need,
                and let our software help you write it in a matter of minutes.
            </p>
        </div>
    </li>

    <li class="collection-item">
        <div class="card-content">
            <span class="card-title contractTitleList">Amendment to LLC Operating Agreement&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                An Amendment to an LLC Operating Agreement is an internal written document detailing any changes to the
                terms of a... Learn More
            </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Articles of Incorporation&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                An Articles of Incorporation is a set of formal documents that contain basic information about a company
                being created.... Learn More
            </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Assignment of Partnership Interest &nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                An Assignment of Partnership Interest is a legal document that transfers the rights to receive benefits
                from an original... Learn More

            </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Business Plan Template &nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                A Business Purchase Agreement is a legally enforceable contract that documents the sale of a business.
                Either assets of a... Learn More
            </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Joint Venture Agreement &nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                A Joint Venture Agreement is a contract between two or more parties who want to do business together.
                Instead of creating... Learn More
            </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Limited Liability Company (LLC) Operating Agreement &nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                An LLC Operating Agreement is an internal written document among members of a Limited Liability Company
                (“LLC”). An LLC is... Learn More
            </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Partnership Agreement &nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                A Partnership Agreement is an internal written document detailing the terms of a partnership. A
                partnership is a business... Learn More
            </p>
        </div>
    </li>

</ul>

<ul class="collection card">

    <li class="collection-item headingTypes">
        <div class="card-content headingTypes">
            <span class="card-title contractTitleList white-text">Business Operations&nbsp
            </span>
            <p style="color: white">
                Need help running your business? The set of forms and agreements below is designed to assist with the
                most common situations that business owners face. </p>
        </div>
    </li>

    <li class="collection-item">
        <div class="card-content">
            <span class="card-title contractTitleList">Affidavit of Identity&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">

                An Affidavit of Identity is a document that is used to legally verify the identity of a person. It is
                frequently wielded... Learn More
            </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Affidavit of Service&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                An Affidavit of Service is a sworn legal document that states that a server delivered specified papers
                to a person,... Learn More </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Affidavit of Title&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                An affidavit of title is a document created by a person selling property - generally in the form of a
                house, condominium,... Learn More


            </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Arbitration Agreement &nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                An Arbitration Agreement stipulates that any disagreements that might arise through business dealings
                will be handled... Learn More </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Business Contract &nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                A business contract is an agreement in which each party agrees to an exchange, typically involving
                money, goods, or services. Learn More

            </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Cease and Desist Letter&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                A Cease and Desist letter is sent to an individual or business that is engaging in unlawful behavior.
                Create a free Cease... Learn More </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">End User License Agreement &nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                An End User License Agreement is a contract between two parties -- the licensor and the licensee -- for
                the right to use... Learn More
            </p>
        </div>
    </li>

</ul>

<ul class="collection card">

    <li class="collection-item headingTypes">
        <div class="card-content headingTypes">
            <span class="card-title contractTitleList white-text">Business Property&nbsp
            </span>
            <p style="color: white">
                Buying and selling property can be a real hassle, but it doesn't have to be. Below we offer a set of
                agreements that make handling any type of property a breeze.
        </div>
    </li>

    <li class="collection-item">
        <div class="card-content">
            <span class="card-title contractTitleList">Bill of Sale&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">

                A bill of sale is a legal document that memorializes a business transaction between two parties -- a
                seller and a... Learn More </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Boat Bill of Sale&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                A Boat Bill of Sale documents the sale or transfer of a motorboat, sailboat, yacht, jet ski, watercraft,
                or other... Learn More
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Buy-Sell Agreement&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                A buy-sell agreement is a contract drawn up to protect a business in the event something happens to one
                of the owners.... Learn More

            </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Construction Contract Agreement&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                A Construction Contract Agreement is a legal document that officially recognizes a legally binding
                relationship between a... Learn More
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Firearm Bill of Sale &nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                A firearm bill of sale is a legal document that memorializes the sale of a handgun, rifle, or shotgun
                between two parties... Learn More
            </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Horse Bill of Sale&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                Create a free horse bill of sale form in minutes with step-by-step instructions. A bill of sale
                documents the details of a... Learn More
        </div>
    </li>


</ul>

<ul class="collection card">

    <li class="collection-item headingTypes">
        <div class="card-content headingTypes">
            <span class="card-title contractTitleList white-text">Employment&nbsp
            </span>
            <p style="color: white">
                Whether you're hiring full-time employees or freelancers, we have the documents that are required to
                properly onboard them into your team.
        </div>
    </li>

    <li class="collection-item">
        <div class="card-content">
            <span class="card-title contractTitleList">Employee Non-Disclosure Agreement (NDA)&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                A company often asks employees with advanced knowledge of their confidential information to sign an NDA.
                Some companies... Learn More
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Employment Agreement&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                    This article outlines the situations in which an Employee Contract should be used, the protection it offers both parties...	Learn More
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Buy-Sell Agreement&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                A buy-sell agreement is a contract drawn up to protect a business in the event something happens to one
                of the owners.... Learn More

            </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Construction Contract Agreement&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                A Construction Contract Agreement is a legal document that officially recognizes a legally binding
                relationship between a... Learn More
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Firearm Bill of Sale &nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                A firearm bill of sale is a legal document that memorializes the sale of a handgun, rifle, or shotgun
                between two parties... Learn More
            </p>
        </div>
    </li>
    <li class="collection-item card">
        <div class="card-content">
            <span class="card-title contractTitleList">Horse Bill of Sale&nbsp
                <div class="chip right seeDetails"><a style="color:white"
                        href="/create">Create Document</a></div>
            </span>
            <p style="color: grey">
                Create a free horse bill of sale form in minutes with step-by-step instructions. A bill of sale
                documents the details of a... Learn More
        </div>
    </li>


</ul>


<script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/types.js')}}"></script>
{% endblock %}